.container-form{
    margin-top: 23% !important;
    margin-left: 15%;
}
.container-form .msg-box .message-container{
    position: absolute;
    top: -100px;
}
.container-form .msg-box form{
    margin-top: 3rem;
}
.container-form .msg-box p{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height:25px;
}
.container-form .msg-box h3{
    color: #FFF;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-form .msg-box form .input-container{
    width: 50%;
    margin-top: 15px;
    height: 40px;
    background-color: #fff;
    border-radius: 50px;
}

.container-form .msg-box form .input-container input{
    width: 94%;
    height: 100%;
    outline: none;
    border-radius: 50px;
    border: none;
    padding: 0 20px;
}
.container-form .msg-box form .input-container .submit{
    background-color: #FF751A;
    width: 100%;
    color: #FFF;
}

/* -------------------------------------------------------------- */
/* ------------------------- Home page Style---------------------- */
/* ---------------------------------------------------------------- */

.home-nav-barcontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background: linear-gradient(93deg, #F0F0F0 1.87%, #F0F0F0 100%);
    padding: 10px;
}

.home-nav-barcontainer .message-container{
    background-color: #fff;
    padding:  7px 7px 0px 7px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.home-nav-barcontainer .message-container i{
    color: #BDBDBD;
    font-size: xx-large;
}

.home-nav-barcontainer .message-container .msg-count{
    position: absolute;
    line-height: 26px;
    font-weight: bold;
    color:#3E4042;
    top: -5px;
    right: -5px;
    background-color: #FF751A;
    padding: 0 8px;
    border-radius: 50%;
    border: 2px solid #FFF;
}

.profile-container .row .col-lg-8 .student-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#F0F0F0;
    border-radius: 20px;
    padding: 40px;
}

.profile-container .row .col-lg-8 .student-details .container-fuild .profile-name h3{
    color: var(--IL--Orange, #FF751A);
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile-container .row .col-lg-8 .progress-card .row .col-lg-4 .container-fuild{
    background-color: #F0F0F0;
    padding: 40px ;
    border-radius: 20px;
    width: 100%;
}

.profile-container .row .col-lg-8 .progress-card .row .col-lg-4 .container-fuild .contant{
    width: fit-content;
    padding: 8px;
    border-radius: 10px;
}
.profile-container .row .col-lg-8 .progress-card .row .col-lg-4 .container-fuild .contant img{
    width: 30px;
}
.profile-container .row .col-lg-8 .progress-card .row .col-lg-4 .container-fuild p{
    font-weight: bold;
    color: #6C6C6C;
}
.course-full-container{
    border-radius: 20px;
}
.course-full-container .container-fuild{
    padding: 30px 20px;
}
.letter-orange{
    color: #FF751A;
}
.course-full-container .container-fuild .buttons a{
    background-color: #FF751A;
    padding: 8px 20px;
    text-decoration: none;
    color: #FFF;
    border-radius: 50px;
}

.course-full-container .container-fuild .buttons .logout{
    background-color: #fff;
    color: #000;
    padding: 8px 20px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-weight: 400;
}

.profile-container .container {
    background-color: rgba(0, 0, 0, 0.8);
}
.msg-box-open{
    top: -100vh !important;
}

.profile-container .container .message-box{
background-color: #fff;
padding: 20px;
border-radius: 20px;
}
.profile-container .container .message-box .heading h3{
    color: #FF751A;
}
.profile-container .container .message-box .heading i{
    font-size: 32px;
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #F0F0F0;
}