{% extends 'main.html' %}
{% load static %}

{% block title %}
Home page | Inlingua
{% endblock %}
{% block style %}
{% endblock %}

{% block container %}
    {% if user.is_superuser %}
        {% include 'inc/sidebar.html' %}
        <div class="container-fluid  mt-3">
            {% include 'inc/message.html' %}
        </div>
        <div class="container-fluid  mt-3">
            <div class="row g-3 h-100 mt-1">
                <div class="col-4  mt-3 d-flex flex-column">
                    <div class="card h-100">
                        <div class="card-body bg-dark p-4" style="border-radius: 5px;">
                            <h3 class="card-title text-white">Batch</h3>
                            <a href="" class="btn btn text-white mb-3" style="background-color: #FF751A;">Add Batch</a><br>
                            {% for batches in All_batches%}
                            <a href="" class="">{{batches.Name}}</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-4  mt-3 d-flex flex-column">
                    <div class="card h-100">
                        <div class="card-body bg-dark p-4" style="border-radius: 5px;">
                            <h3 class="card-title text-white">Cources</h3>
                            <a href="" class="btn btn text-white mb-3" style="background-color: #FF751A;">Add Cources</a><br>
                            {% for courses in All_courses%}
                            <a href="" class="">{{courses.Name}}</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-4  mt-3 d-flex flex-column">
                    <div class="card h-100">
                        <div class="card-body bg-dark p-4" style="border-radius: 5px;">
                            <h3 class="card-title text-white">Levels</h3>
                            <a href="" class="btn btn text-white mb-3" style="background-color: #FF751A;">Add Level</a><br>
                            {% for level in All_level%}
                            <a href="" class="">{{level.Name}} | {{level.Code}}</a><br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}