{% extends 'main.html' %}
{% load static %}

{% block title %}
Trainer page | Inlingua
{% endblock %}
{% block style %}
{% endblock %}

{% block container %}
{% include 'inc/sidebar.html' %}
<style>
    input{
        border: 1px solid #505050 !important;
    }
</style>
<div style="position: relative; width: 100%; height: 100%;">
    <div class="modal fade" id="addcourse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="height: 100vh; width: 100%; backdrop-filter: blur(3px); position: absolute;" >
        <div class="modal-dialog modal-lg">
            
            <form method='POST' action="">
                {% csrf_token %}
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h5 class="modal-title text-white" id="staticBackdropLabel">Add New Trainer</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row g-3 mt-1">
                            <div class="col-4">
                                <label for="trainername" class="form-label text-white">Trainer Name</label>
                                <input type="text" class="form-control text-white bg-dark" id="trainername" name="trainername">
                            </div>
                            <div class="col-4">
                                <label for="fname" class="form-label text-white">First Name</label>
                                <input type="text" class="form-control text-white bg-dark" id="fname" name="fname">
                            </div>
                            <div class="col-4">
                                <label for="lname" class="form-label text-white">Last Name</label>
                                <input type="text" class="form-control text-white bg-dark" id="lname" name="lname">
                            </div>
                        </div>
                        <div class="row g-3 mt-1">
                            <div class="col-4">
                                <label for="mobilenumber" class="form-label text-white">Mobile Number</label>
                                <input type="number" class="form-control bg-dark text-white" id="mobilenumber" name="mobilenumber">
                            </div>
                            <div class="col-4">
                                <label for="gmail" class="form-label text-white">e-mail</label>
                                <input type="email" class="form-control bg-dark text-white" id="gmail" name="gmail">
                            </div>
                            <div class="col-4">
                                <label for="Address" class="form-label text-white">Address</label>
                                <input class="form-control bg-dark text-white" type="text" id="Address" name="Address">
                            </div>
                            <div class="col-4">
                                <label for="studentphoto" class="form-label text-white">Student Photo</label>
                                <input class="form-control bg-dark text-white" type="file" id="studentphoto" name="studentphoto">
                            </div>
                        </div>
                        <hr class="text-white">
                        <p class="m-0 mt-3 p-0 h5 text-white">Education And Qualifications</p>
                        <div class="row g-3 mt-1">
                            <div class="col-4">
                                <label for="certificateNumber" class="form-label text-white">Certificate Number</label>
                                <input type="number" class="form-control bg-dark text-white" id="certificateNumber" name="certificateNumber">
                            </div>
                            <div class="col-4">
                                <label for="certifyingAuthority" class="form-label text-white">Certifying Authority</label>
                                <input type="email" class="form-control bg-dark text-white" id="certifyingAuthority" name="certifyingAuthority">
                            </div>
                            <div class="col-4">
                                <label for="certificateValidTill" class="form-label text-white">Certificate Valid Till</label>
                                <input class="form-control bg-dark text-white" type="text" id="certificateValidTill" name="certificateValidTill">
                            </div>
                            <div class="col-4">
                                <label for="Language" class="form-label text-white">Language</label>
                                <select class="form-control bg-dark text-white" name="Language" id="Language">
                                    <option>Select Language</option>
                                    {% for language in languages %}
                                    <option value="{{language.ID}}">{{language.Name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4">
                                <label for="level" class="form-label text-white">Level</label>
                                <select class="form-control bg-dark text-white" name="level" id="level">
                                    <option>Select Level</option>
                                    {% for level in levels %}
                                    <option value="{{level.ID}}">{{level.Name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" style="background-color: chocolate;">Save Batch</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<h4 class="card-title">Trainers</h4>

{% if request.path == "/crm/trainers" %}
<div class="row">
    <div class="col-4 mt-3">
        <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search Trainers" aria-label="Search" aria-describedby="search-addon" />
            <input type="submit" class="btn text-white" value="Serach" style="background-color: #FF751A;">
          </div>
    </div>
</div>
<div class="row g-3 h-100 mt-1">
    {% for language in languages %}
        <a href="{% url 'language_view' name=language.Name %}" class="col-3 mt-3 d-flex flex-column">
            <div >
                <div class="card h-100">
                    <div class="card-body bg-dark p-4 text-white" style="border-radius: 5px;">
                        <i class='bx bx-book text-white h1'></i>
                        <h3 class="card-title" style="color: #FF751A;"> {{language.Name }}</h3>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    <div class="height-00">
        <div class="col-lg-12 grid-margin stretch-card mt-3">
            <div class="card">
                <div class="card-body">
                    <button type="button" class="btn mb-3 text-white" data-bs-toggle="modal" data-bs-target="#addcourse" style="background-color: #FF751A;">
                        Add Trainer 
                        </button>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Language</th>
                                <th>Level Id</th>
                                <th>Certificate Number</th>
                                <th>Certificate Valid Till</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for training_Staff in training_Staff %}
                                <tr>
                                    <td><img src="../../static/img/imgs/Ellipse 3.svg" alt="image" width="30px"><a href="{% url 'trainer' id=training_Staff.ID %}"> {{ training_Staff.TrainerId.Name }}</a></td>
                                    <td>{{ training_Staff.LanguageID.Name }}</td>
                                    <td>{{ training_Staff.LevelId.Code }}</td>
                                    <td>{{ training_Staff.CertificateNumber }}</td>
                                    <td>{{ training_Staff.CertificateValidTill }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                            
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<style>
    input{
        border: 1px solid #505050 !important;
    }
    button{
        background-color: #FF751A !important;
    }
</style>
<div class="container-xl px-4 mt-4">
    <div class="row">
        <div class="col-xl-4 ">
            <div class="card mb-4 mb-xl-0 bg-dark">
                <div class="card-header text-white">Profile Picture</div>
                <div class="card-body text-center">
                    <form action="" method="post">
                        {% csrf_token %}
                        <label for="file-input">
                            <img class="img-account-profile rounded-circle mb-2"
                            src="{% static 'img/uploads/Profiles/' %}{{ training_Staff.TrainerId.LoginId.user_img }}"
                            alt=""
                            width="190px" height="190px"
                            id="profile-image"
                            style="cursor: pointer;">
                        </label>
                        <input type="file" id="file-input" style="display: none;" accept="image/*" onchange="previewImage(this)">
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        <input type="submit" class="btn text-white" style="background-color: #FF751A;" value="Save Profile pic">
                    </form>
                </div>
            </div>
        </div>
        
        <script>
            function previewImage(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        document.getElementById('profile-image').src = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
        
            function uploadImage() {
                var fileInput = document.getElementById('file-input');
                fileInput.click();
            }
        </script>
        
        <div class="col-xl-8">
            <div class="card mb-4 bg-dark">
                <div class="card-header text-white">Basic Details</div>
                <div class="card-body">
                    <form>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1 text-white" for="inputUsername">Name</label>
                                <input class="form-control bg-dark text-white" id="inputUsername" type="text" placeholder="Enter Employee Name" value="{{training_Staff.TrainerId.Name}}">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1 text-white" for="inputUsername">Role</label>
                                <input class="form-control bg-dark text-white" id="inputUsername" type="text" placeholder="Enter Employee Name" value="{{training_Staff.TrainerId.LoginId.role_id.Name}}">
                            </div>
                        </div>
                        <div class="row gx-3 mb-3">
                            <div class="col-md-6">
                                <label class="small mb-1 text-white" for="inputFirstName">Mobile Number</label>
                                <input class="form-control bg-dark text-white" id="inputFirstName" type="number" placeholder="Enter Employee Mobile Number" value="{{training_Staff.TrainerId.LoginId.Mobile_Number}}">
                            </div>
                            <div class="col-md-6">
                                <label class="small mb-1 text-white" for="inputLocation">Location</label>
                                <input class="form-control bg-dark text-white" id="inputLocation" type="text" placeholder="Enter your location">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="small mb-1 text-white" for="inputEmailAddress">Email address</label>
                            <input class="form-control bg-dark text-white" id="inputEmailAddress" type="email" placeholder="Enter your email address" value="{{training_Staff.TrainerId.LoginId.email}}">
                        </div>
                        <button class="btn text-white" type="button">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card mb-4 bg-dark">
            <div class="card-header text-white">Account Details</div>
            <div class="card-body">
                <form>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-4">
                            <label class="small mb-1 text-white" for="inputLocation">Language</label>
                            <input class="form-control bg-dark text-white" id="inputLocation" type="text" placeholder="Enter your location"  value="{{training_Staff.LanguageID.Name}}">
                        </div>
                        <div class="col-md-4">
                            <label class="small mb-1 text-white" for="inputLocation">Language Level Code</label>
                            <input class="form-control bg-dark text-white" id="inputLocation" type="text" placeholder="Enter your location"  value="{{training_Staff.LevelId.Code}}">
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-4">
                            <label class="small mb-1 text-white" for="inputUsername">Certificate Number</label>
                            <input class="form-control bg-dark text-white" id="inputUsername" type="text" placeholder="Enter Employee Name" value="{{training_Staff.CertificateNumber}}">
                        </div>
                        <div class="col-md-4">
                            <label class="small mb-1 text-white" for="inputUsername">Certifying Authority</label>
                            <input class="form-control bg-dark text-white" id="inputUsername" type="text" placeholder="Enter Employee Name" value="{{training_Staff.CertifyingAuthority}}">
                        </div>
                        <div class="col-md-4">
                            <label class="small mb-1 text-white" for="inputFirstName">Certificate Valid Till</label>
                            <input class="form-control bg-dark text-white" id="inputFirstName" type="text" placeholder="Enter Employee Mobile Number" value="{{training_Staff.CertificateValidTill}}">
                        </div>
                    </div>
                    <button class="btn text-white" type="button">Save changes</button>
                </form>
            </div>
        </div>
    </div>
    <h4 class="card-title">Batch Details</h4>
    <div class="row g-3 h-100 mb-3">
        {% for training_batche in training_batches %}
        <div class="col-6 d-flex flex-column" style="border-radius: 5px;">
            <div class="card-body bg-dark p-4 text-white" style="border-radius: 5px;">
                <h3 class="mb-3" style="color: #FF751A;">{{training_batche.Name}}</h3>
                <p class="mb-3" class="m-0">Language : <a href="">{{training_batche.Course_details.LanguageID.Name}}</a></p>
                <div class="d-flex ">
                    <p class="m-0" style="margin-right: 10px !important;">Start Date : <span style="color: #FF751A;">{{training_batche.Course_details.StartDate}}</span></p>
                    <p >End Date : <span style="color: #FF751A;">{{training_batche.Course_details.EndtDate}}</span></p>
                </div>
                <div class="d-flex">
                    <p class="m-0" style="margin-right: 10px !important;">Class Start : <span style="color: #FF751A;">{{training_batche.Course_details.StartTime}}</span></p>
                <p class="m-0">Class End : <span style="color: #FF751A;">{{training_batche.Course_details.EndTime}}</span></p>
                </div>
                

                <h5 class="card-title mt-2 text-white">Students</h5>
                {% for Student_detail in Student_details %}
                    {% if Student_detail.BatchID.ID == training_batche.ID %}
                        <a href="{% url 'studentdetails' id=Student_detail.ID %}">{{Student_detail.StudentID.name}}</a><br>
                    {% endif %}
                {% endfor %}
            </div>
            
        </div>
        {% endfor %}
    </div> 
</div>
{% endif %}
{% endblock %}