<!DOCTYPE html>
<html lang="en">
<title>Business Developement</title>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/2a0ce626cf.js" crossorigin="anonymous"></script>

    <!-- Custom styles for this template-->
    <link href="css/stu-dash-new.css" rel="stylesheet">
</head>




<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <div class="navbar-nav nav-pills bg-dark-stu sidebar sidebar-dark" id="myTab">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <span class="m-2 text-danger">Admin</span>
            </a>

            <span class="date d-flex align-items-center justify-content-center mt-0">
                <script>
                    document.write(new Date().toLocaleDateString());
                </script>
            </span>

            <!-- Divider -->
            <hr class=" mt-3 sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#stu-reg">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span class="ml-1">Student Registration</span>
                    </a>
                </li>
                <!-- Divider -->
                <hr class="sidebar-divider my-0">
                <!--nav bar item new-->
                <li class="nav-item">
                    <a class="nav-link" href="#add-triner">
                        <i class="fas fa-solid fa-user-tie"></i>
                        <span class="ml-1">Add Trainer</span>
                    </a>
                </li>
                <hr class="sidebar-divider my-0">
                <!--nav bar item new-->
                <li class="nav-item">
                    <a class="nav-link" href="#create-batch">
                        <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                        <i class="fa fa-solid fa-plus"></i>
                        <span class="ml-1">Create Batch</span>
                    </a>
                </li>
                <hr class="sidebar-divider my-0">
                <!--nav bar item new-->
                <li class="nav-item">
                    <a class="nav-link" href="#assign-stu">
                        <i class="fas fa-solid fa-user-group"></i>
                        <span class="ml-1">Assign Students</span></a>
                </li>
            </ul>

            <hr class="sidebar-divider my-0">

        </div>
        <!-- End of Sidebar -->


        <!-- Main Content -->

        <!--Img logo header-->
        <div class="container-fluid">
            <nav class="navbar navbar-expand navbar-light topbar border-bottom mt-3">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <img src="img/L1.png" class="w-25" alt="logo">
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">

                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>

                        <!-- Dropdown - Alerts -->
                        <div class=" dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header drop-head">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>


                    <!-- Nav Item - Messages -->
                    <!-- Nav Item - User Information -->

                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Hi Admin</span>
                            <img class="img-profile rounded-circle" src="img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>

            <!-- Header logo End-->


            <!--Tab Extend-->
            <div class="tab-content">
                <!--Student Creation tabs Start-->
                <div class="tab-pane fade show active" id="stu-reg">
                    <div class="container mt-5">
                        <form id="regForm">
                            <div class="all-steps my-4" id="all-steps">
                                <span class="step">Student Creation</span>
                                <span class="mid"> > </span>
                                <span class="step"> Payment Details</span>
                            </div>
                            <div class="tab">
                                <div class="row form-row">
                                    <div class="col-lg-6  col-md-5 my-2 d-flex justify-content-center">
                                        <input type="text" placeholder="First Name" class="chec w-100 px-4"
                                            name="f-name">
                                    </div>
                                    <div class="col-lg-6  col-md-5 my-2  d-flex justify-content-center">
                                        <input type="text" placeholder="Last Name" class="w-100 pl-4" name="l-name">
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-6  col-md-5 my-2  d-flex justify-content-center ">
                                        <input type="text" placeholder="E-Mail" class="w-100 pl-4 chec" name="e-mail">
                                    </div>
                                    <div class="col-lg-6  col-md-5 my-2  d-flex justify-content-center ">
                                        <input type="tel" placeholder="Phone Number(Whatsapp)" class="w-100 pl-4 chec"
                                            name="amount">
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-3  col-md-5 my-2 -flex justify-content-center">
                                        <input type="text" placeholder="Location" class="w-100 pl-4 chec"
                                            name="location">
                                    </div>
                                    <div class="col-lg-3  col-md-5 my-2 d-flex justify-content-center">
                                        <input type="text" placeholder="Pin-Code" class="w-100 pl-4 chec"
                                            name="pin-code">
                                    </div>
                                    <div class="col-lg-6  col-md-10 my-2 d-flex justify-content-center">
                                        <select id="course" class="in-box-sel form-select w-100 pl-4 chec">
                                            <option selected disabled>Choose Course</option>
                                            <option value="0">German</option>
                                            <option value="1">French</option>
                                            <option value="2">Japanese</option>
                                            <option value="3">Spanish</option>
                                            <option value="4">Mandarin</option>
                                            <option value="5">English</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-row">
                                    <div class="col-lg-6  col-md-10 my-2 d-flex justify-content-center">
                                        <select id="course" class="in-box-sel form-select w-100 pl-4 chec">
                                            <option selected disabled>Choose ID Proof..</option>
                                            <option value="0">Aadhar card</option>
                                            <option value="1">PAN Card</option>
                                            <option value="2">Driving License</option>
                                            <option value="3">Govt Approval ID Card</option>
                                            <option value="4">Student ID Card</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6  col-md-5 my-2  d-flex justify-content-center">
                                        <input type="text" placeholder="ID Number" class="w-100 pl-4 chec"
                                            name="id-number">
                                    </div>
                                </div>
                            </div>
                            <div class="tab">
                                <div class="row form-row align-items-center">
                                    <div class="col-lg-3 my-2 ">
                                        <span class=" text-dark font-weight-bold">Paymenty Date :</span>
                                    </div>
                                    <div class="col-md-6 my-2 ">
                                        <input type="date" class="in-box form-control chec" id="validationCustom01"
                                            required>
                                    </div>
                                </div>

                                <div class="row form-row align-items-center">
                                    <div class="col-lg-3 my-2 text-center d-flex">
                                        <span class="text-dark font-weight-bold">Transaction ID :</span>
                                    </div>
                                    <div class="col-md-6 my-2">
                                        <input type="text" class="in-box form-control chec" id="validationCustom02"
                                            placeholder="" required>
                                    </div>
                                </div>

                                <div class="row form-row align-items-center">
                                    <div class="col-lg-3 my-2 ">
                                        <span class="text-dark font-weight-bold">Transaction Status :</span>
                                    </div>
                                    <div class="col-md-6 my-2 ">
                                        <select class="in-box-sel form-select border-gray form-control chec"
                                            aria-label="Default select example" id="validationCustom03" required>
                                            <option selected>Successfully</option>
                                            <option>Failed</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row form-row d-flex align-items-center">
                                    <div class="col-lg-2 my-4">
                                        <span class="text-dark font-weight-bold">Add Exception :</span>
                                        <span><input type="checkbox" id="chkSelect" checked="checked"
                                                class="float-right" id="pay"></span>

                                    </div>
                                </div>

                                <div class="row form-row align-items-center">
                                    <div class="col-lg-3 my-2  text-center d-flex">
                                        <span class="text-dark font-weight-bold">Payment Amount :</span>
                                    </div>
                                    <div class="col-md-6 my-2 ">
                                        <input type="text" class="in-box form-control" type="text" id="txtUsername" />
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-lg-3 my-3 ">
                                    <button type="button" id="nextBtn"
                                        class="btn-submit btn_next w-100 text-left text-sm btn"
                                        onclick="nextPrev(1)">Continue<i
                                            class="fas fa-solid fa-arrow-right float-right font-weight-bold mt-1"></i>
                                    </button>
                                </div>
                            </div>
                    </div>
                    </form>
                </div>
                <!---Student Creation tabs End--->



                <!---Add trainer tabs Start--->
                <div class="tab-pane fade overflow-visible" id="add-triner">
                    <div class="container m-3 ">

                        <form class="needs-validation" novalidate>
                            <dic class="row form-row my-4">
                                <span class="font-weight-bold tab-title"> Add Trainer</span>
                            </dic>
                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2">
                                    <span class=" text-dark font-weight-bold">Name : </span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="text" class="form-control" id="validationCustom01" required>
                                </div>
                            </div>
                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2 ">
                                    <span class=" text-dark font-weight-bold">E-Mail :</span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="text" class="form-control" id="validationCustom02" required>
                                </div>
                            </div>
                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2 ">
                                    <span class=" text-dark font-weight-bold">Certificate Number :</span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="text" class="form-control" id="validationCustom03" required>
                                </div>
                            </div>
                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2 ">
                                    <span class=" text-dark font-weight-bold">Certification AUthority :</span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="text" class="form-control" id="validationCustom04" required>
                                </div>
                            </div>
                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2 ">
                                    <span class=" text-dark font-weight-bold">Valid :</span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="date" class="in-box form-control" id="validationCustom05" required>
                                </div>
                            </div>
                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2 ">
                                    <span class=" text-dark font-weight-bold">Language : </span>
                                </div>
                                <div class="col-lg-3 my-2">
                                    <select class="form-select in-box-sel w-100 pl-4" id="validationCustom06" required>
                                        <option selected disabled value="">Course.. </option>
                                        <option value="0">German</option>
                                        <option value="1">French</option>
                                        <option value="2">Japanese</option>
                                        <option value="3">Spanish</option>
                                        <option value="4">Mandarin</option>
                                        <option value="5">English</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 my-2">
                                    <select class="form-select in-box-sel w-100 pl-4" id="validationCustom07" required>
                                        <option disabled value="">Level </option>
                                        <option value="0">Basic</option>
                                        <option value="1">Intermediate</option>
                                        <option value="2">Advanced</option>

                                    </select>
                                </div>
                            </div>


                            <div class="row form-row d-flex align-items-center">
                                <div class="col-lg-2 my-4">
                                    <span class="text-dark font-weight-bold">is Trainer Head</span>
                                    <span><input type="checkbox" id="chkSelect" class="float-right" id="pay"></span>
                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col-lg-3">
                                    <button class="btn-submit btn_next w-100 text-left text-sm btn" type="submit">Submit
                                        form <i
                                            class="fas fa-solid fa-arrow-right float-right font-weight-bold mt-1"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!---Add trainer tabs End--->




                <!---Create Batch Tabs Start --->
                <div class="tab-pane fade" id="create-batch">
                    <div class="container m-3">

                        <form class="needs-validation" novalidate>

                            <div class="row form-row my-4">
                                <span class="font-weight-bold tab-title"> Create Batch </span>
                            </div>

                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2">
                                    <span class=" text-dark font-weight-bold">Batch Name : </span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="text" class="form-control" id="validationCustom01" required>
                                </div>
                            </div>

                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2 ">
                                    <span class=" text-dark font-weight-bold">Meeting URL : </span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="text" class="form-control" id="validationCustom02" required>
                                </div>
                            </div>


                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2 ">
                                    <span class=" text-dark font-weight-bold">Start Date :</span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="date" class="form-control" id="validationCustom03" required>
                                </div>
                            </div>

                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2 ">
                                    <span class=" text-dark font-weight-bold">End Date :</span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="date" class="form-control" id="validationCustom04" required>
                                </div>
                            </div>

                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2 ">
                                    <span class=" text-dark font-weight-bold">Duration :</span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="number" class="in-box form-control" id="validationCustom05" required
                                        placeholder="Minutes">
                                </div>
                            </div>

                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2 ">
                                    <span class=" text-dark font-weight-bold">Time : </span>
                                </div>

                                <div class="col-lg-3 my-2">
                                    <span class="text-dark font-weight-bold">Start Time </span>
                                    <input type="time" class="in-box form-control" id="start-time" name="time" required>
                                </div>

                                <div class="col-lg-3 my-2">
                                    <span class="text-dark font-weight-bold">End Time </span>
                                    <input type="time" class="in-box form-control" id="end-time" name="time" required>

                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col-lg-3">
                                    <button class="btn-submit btn_next w-100 text-left text-sm btn" type="submit">Create
                                        <i class="fas fa-solid fa-arrow-right float-right font-weight-bold mt-1"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
     
         
                <!---Create Batch Tabs End --->


                <!--Assign Batch Tabs Start -->
                <div class="tab-pane fade" id="assign-stu">

                    <div class="container m-3">

                        <form class="needs-validation" novalidate>

                            <dic class="row form-row my-4">
                                <span class="font-weight-bold tab-title"> Assign Students</span>
                            </dic>

                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2">
                                    <span class=" text-dark font-weight-bold">Batch Name : </span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="text" class="form-control" id="validationCustom01" required>
                                </div>
                            </div>

                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2 ">
                                    <span class=" text-dark font-weight-bold">Course : </span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="text" class="w-100 pl-3" id="validationCustom02"
                                        placeholder="Selected Course Here" readonly>
                                </div>
                            </div>


                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2 ">
                                    <span class=" text-dark font-weight-bold">Language :</span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="text" class="w-100 pl-3" id="validationCustom03"
                                        placeholder="Selected Language Here" readonly>
                                </div>
                            </div>

                            <div class="row form-row align-items-center">
                                <div class="col-lg-3 my-2 ">
                                    <span class=" text-dark font-weight-bold">Level :</span>
                                </div>
                                <div class="col-lg-6 my-2">
                                    <input type="text" class="w-100 pl-3" id="validationCustom04"
                                        placeholder="Selected Level Here" readonly>
                                </div>
                            </div>

                            <div class="row my-2">
                                <div class="col-lg-3">
                                    <button class="btn-submit w-100 text-left text-sm btn" type="button"
                                        data-toggle="modal" data-target=".bd-example-modal-lg">Create
                                        <i
                                            class="fas fa-solid fa-arrow-right float-right font-weight-bold mt-1"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade bd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">

                            <div class="modal-content">

                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Trainer allocation details
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body m-5">
                                    <div class="container">
                                        <div class="row align-items-center justify-content-center">
                                            <div class="col-lg-8">
                                                <div class="batch text-dark font-weight-bold">Batch Name :<span
                                                        class="batch-name" id="batch-name">German 1st Batch</span></div>
                                                <div class="course text-dark font-weight-bold">Course :<span
                                                        class="batch-name" id="course-name">German 1st Batch</span>
                                                </div>
                                                <div class="language text-dark font-weight-bold">Language :<span
                                                        class="language-name" id="language-name">German</span></div>
                                                <div class="level text-dark font-weight-bold">Level : <span
                                                        class="level-name" id="level-name">A1</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center justify-content-center mt-5">
                                        <div class="col-lg-8">
                                            <table class="table">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th scope="col">Check Box</th>
                                                        <th scope="col">Student Name </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row"><input type="checkbox" id="chkSelect"
                                                                class="align-self-center checkbox-lg"
                                                                id="student-select"></th>
                                                        <td>Mark</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row"><input type="checkbox" id="chkSelect"
                                                                class="float-center checkbox-lg" id="student-select">
                                                        </th>
                                                        <td>henry</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn-submit text-left text-sm btn">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Create Batch Tabs End -->
            </div>
        </div>
    </div>

    <!-- Additional JS Files for internal Use-->
    <script src="vendor/jquery/jquery.need.js"></script>
    <script src="js/Custom.js"></script>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


</body>

</html>