{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />
{% endblock %}

<header class="header body-pd" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    <div class="header_img"> <img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
</header>
<div class="l-navbar show bg-dark" id="nav-bar">
    <nav class="nav show">
        <div> 
            <a href="#" class="nav_logo"> 
                <i class='bx bx-layer nav_logo-icon'></i> 
                <img src="{% static 'img/imgs/L1.png' %}" alt="Webside logo img" width="150px">
            </a>
            <div class="nav_list">
                <a href="{% url 'home' %}" class="nav_link {{Dashboard}}"> 
                    <i class='bx bx-grid-alt nav_icon'></i>
                    <span class="nav_name">Dashboard</span> 
                </a> 
                <a href="{% url 'students' %}" class="nav_link {{Students}}"> 
                    <i class='bx bx-user nav_icon'></i> 
                    <span class="nav_name">Student</span> 
                </a> 
                <a href="{% url 'trainers' %}" class="nav_link {{Trainers}}"> 
                    <i class='bx bx-user nav_icon'></i> 
                    <span class="nav_name">Trainers</span> 
                </a> 
                <a href="#" class="nav_link"> 
                    <i class='bx bx-message-square-detail nav_icon'></i> 
                    <span class="nav_name">Messages</span> 
                </a> 
                <a href="{% url 'tables' %}" class="nav_link {{tables}}">
                    <i class='bx bx-bookmark nav_icon'></i> 
                    <span class="nav_name">Roles and Language</span> 
                </a> 
                <a href="{% url 'courceandlevels_table' %}" class="nav_link {{courceandlevels}}"> 
                    <i class='bx bx-folder nav_icon'></i> 
                    <span class="nav_name">Cources and level</span> 
                </a>
                <a href="#" class="nav_link"> 
                    <i class='bx bx-folder nav_icon'></i> 
                    <span class="nav_name">Files</span> 
                </a> 
                <a href="#" class="nav_link"> 
                    <i class='bx bx-bar-chart-alt-2 nav_icon'></i> 
                    <span class="nav_name">Stats</span> 
                </a> 
            </div>
        </div> 
        <a href="{% url 'logout' %}" class="nav_link"> 
            <i class='bx bx-log-out nav_icon'></i> 
            <span class="nav_name">SignOut</span> 
        </a>
    </nav>
</div>
