<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Student Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/stu-dash-new.css" rel="stylesheet">
    <link rel="stylesheet" href="css\custom-css-crm.css">
    <script>

    </script>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-dark-stu sidebar sidebar-dark" id="Sidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <span class="m-2 text-danger">Hi Student,</span>
            </a>
            <span class="date d-flex align-items-center justify-content-center mt-0">
                <script> document.write(new Date().toLocaleDateString()); </script>
            </span>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img class="w-10" src="img/stu-ui-icon/time-slot.png">
                    <span class="ml-1">Dashboard</span></a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!--nav bar item new-->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <!-- <i class="fas fa-fw fa-tachometer-alt"></i> -->
                    <img class="w-10" src="img/stu-ui-icon/Course-white.png">
                    <span class="ml-1">Dashboard</span></a>
            </li>
            <hr class="sidebar-divider">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between m-4">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-4">
                        <img src="img\L1.png" class="w-100">
                    </div>
                </div>
            </div>

            <!-- first Row -->
            <div class="row m-2">
                <!-- Student Language -->
                <div class="col-xl-14 col-md-12 mb-4 h-30">
                    <div class="card-body german-img">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-lg font-weight-bold text-dark text-Normal m-3">
                                    My Course</div>
                                <div class="h1 mb-3 font-weight-bold  text-dark-800 m-3">German - A1</div>
                                <div class="m-3">
                                    <h4 class="small font-weight-bold">Class Progress<span
                                            class="float-center">40%</span></h4>
                                    <progress id="progress-absent" class="progress-absent" value="40"
                                        max="100"></progress><br>
                                </div>
                                <button class="btn btn-dark m-3 mb-5"> Today class Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Second Row -->
            <div class="row m-2 border-dark">

                <!-- Content Column -->
                <div class="col-lg-8 mb-4">
                    <div class="card-body attendance-img">
                        <div class="attendance">
                            <h3 class="font-weight-bold text-dark mt-2">Class Attendance</h3>
                        </div>
                        <div class="body mr-3 ml-3 mb-3 mt-4">
                            <h4 class="small font-weight-bold">Present<span class="float-right">60%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold">Absent<span class="float-right">80%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold">Balance<span class="float-right">Complete!</span></h4>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 mb-4">

                    <!-- Illustrations -->
                    <div class="card study-img">
                        <span class="ico-img">
                            <img src="img/stu-ui-icon/Material.png">
                        </span>
                        <div class="attendance">
                            <h3 class="ml-4 font-weight-bold text-dark pt-3">Study Meterial</h3>
                        </div>
                        <div class="card-body mb-3">
                            <button class="btn btn-dark"> Download</button>

                        </div>
                    </div>
                </div>
            </div>


            <!--Third Row-->
            <div class="row m-2">

                <!-- Content Column -->
                <div class="col-lg-8 mb-4">
                    <div class="card-body justify-content-center align-items-center duration-img">
                        <div class="img-ico1 float-left mr-3">
                            <img src="img/stu-ui-icon/duration.png">
                        </div>
                        <div class="duration">
                            <h3 class="text-dark font-weight-bold">Course Duration</h3>
                            <h6 class="text-dark font-weight-bold">dd/mm/yyyy- dd/mm/yyyy</h6>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4 mb-4">

                    <!-- Illustrations -->
                    <div class="card-body justify-content-center align-items-center slot-img">
                        <div class="img-ico1 float-left mr-3">
                            <img src="img/stu-ui-icon/duration.png">
                        </div>
                        <div class="duration">
                            <h3 class="text-dark font-weight-bold">Time Slot</h3>
                            <h6 class="text-dark font-weight-bold">10:00 AM - 12:00 PM</h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
    </div>
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

    <script src="jquery-3.1.1.min.js"></script>
    <script src="jquery.paroller.min.js"></script>

</body>

</html>